extends layout

block content
  h1= title
  form(id='nutritionForm', action="/resource/nutrition", method="POST")
    div.form-group
      label.nutritionAttr(for='nutrition_type') nutrition type
      input#nutrition_type(type='text', name='nutrition_type')
    div.form-group
      label.nutritionAttr(for='nutrition_calories') nutrition calories
      input#nutrition_calories(type='text', name='nutrition_calories')
    div.form-group
      label.nutritionAttr(for='nutrition_price') nutrition price
      input#nutrition_price(type='number', name='nutrition_price')
    input(type="submit")
  script.
    document.forms['nutritionForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
